@import "tailwindcss";
@font-face {
  font-family: Spartan;
  src: url("./assets/fonts/LeagueSpartan-VariableFont_wght.ttf");
}

@theme{
  --color-primary: #141413;
  --color-secondary: #d17557;
  --text-text: #d17557;

  --font-spartan: Spartan
}